// ============================================= //
//Color Variables//
// ============================================= //

$color-base: #777;
$color-head-primary: lighten(#84bbae, 15%);
$color-links: #51ddfc;
$color-warning: #fd7856;
$color-success: #63cc82;
$color-frame: #ccc;

// ============================================= //
//Media Query Breakpoints//
// ============================================= //

$break-m: 768px;